
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Klaviyo SMS Subscription Feeder</title>
  </head>
  <body>
    <h1>Use this form to subscribe new users to the klaviyo "SMS Subscribers" list</h1>
    <form method="POST">{% csrf_token%}
        <input type="text" placeholder= "name" name ="name" />
        <input type="text" placeholder="email *REQUIRED*" name ="email" />
        <input type="text" placeholder="phone number *REQUIRED*" name ="phone_number" />
        <button type="submit">ENTER</button>
    </form>
    <p>Feedback: {{res}}</p>
    <a href="/list">Click here to verify that the correct lists is associated with this form and see when it was last updated</a>
    </html>